@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 2s linear infinite;
}

:root {
  --bg-color: #111827;
  --text-color: #F9FAFB;
  --highlight-color: #F59E0B;
  --secondary-bg-color: #1E293B;
  --border-color: #374151;
  --button-bg-color: #10B981;
  --button-hover-bg-color: #0F766E;
}

[data-theme="hacker"] {
  --bg-color: #121212; /* Dark gray-black background */
  --text-color: #00FF00; /* Neon green text */
  --highlight-color: #00FF00; /* Neon green highlight */
  --secondary-bg-color: #1C1C1C; /* Dark gray for secondary elements */
  --border-color: #00FF00; /* Neon green borders */
  --button-bg-color: #00FF00; /* Neon green button background */
  --button-hover-bg-color: #007700; /* Dark green button hover */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
